<?xml version="1.0" encoding="UTF-8"?>

<!--  Mybatis 태그들을 설정할수 있는 스키마이다. -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!--  Type 단축해주는 코드 작성 -->
 <configuration>
 	<typeAliases>
 		<!--  Aliases : 별칭 -->
		<!--  DTO 만들면 여기에다가 별칭 미리 해두기 -->
 		
 		
 	</typeAliases>
 </configuration>