<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace ="TB_BLG_CONT">
  
  	<insert id="insert" parameterType="hashMap">
  		<selectKey keyProperty="blg_cont_seq" resultType="java.lang.Integer" order="BEFORE">
  			SELECT BLG_CONT_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		<![CDATA[
  		
  			INSERT INTO TB_BLG_CONT(CONT_NUM, TITLE, CONT_BDY)
  			VALUES
  			(#{blg_cont_seq}, #{title}, #{content_body})

  		]]>
  	</insert>
  	
  	<select id="selectOne" parameterType="java.lang.Integer" resultType="hashMap">
 	<![CDATA[
		 SELECT
			CONT_NUM 
			,TITLE
			,TO_CHAR(CONT_BDY) AS CONT_BDY
			,INSERT_DT
		FROM
			TB_BLG_CONT
		WHERE
		 	CONT_NUM = #{blg_cont_seq}
 	
 	]]>
 	
 	</select>
 	 	
 	
 	<update id="update" parameterType="v2.mvc.spring.blog.dto.BlogEditRequestDTO">
 	
 	<![CDATA[
		 UPDATE
		 	TB_BLG_CONT
		 SET
			TITLE = #{title}
			,CONT_BDY = #{contBdy}
	
		WHERE
		 	CONT_NUM = #{blogContSeq}
 	
 	]]>
 	
 	</update>
  	
  	
  </mapper>
  